/* ---------------- Common Styles ---------------- */
body {
    font-family: Arial;
    margin: 20px;
    padding: 0;
    color: #221c1c;
}
p {
	font-size: 17px;
	text-align: justify;
	line-height: 1.2em
}

li {
	font-size: 17px;
	text-align: justify;
	line-height: 1.2em
}

h1 {
	font-size: 42px;
	font-weight: 600;
	font-family: Arial, sans-serif;
    text-align: center;
	color: rgb(74, 38, 150);
}
h2 {
	font-size: 35px;
	font-weight: 600;
	font-family: Arial, sans-serif;
    text-align: center;
	color: hsl(208, 58%, 17%);
}
h3 {
	font-size: 25px;
	font-weight: 600;
	font-family: Arial, sans-serif;
	text-align: center;
	color: #2c7480;
}

h4 {
	font-size: 18px;
	font-weight: 600;
	font-family: Arial, sans-serif;
    margin-bottom: 0;
}

img {
    width: 300px;
    height: 300px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
	text-align: center;
	font-size: 17px;
	font-family: Arial;
}

th {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

form {
    max-width: 400px;
    margin: 0 auto;
	font-size: 17px;
	font-family: Arial;
	font-weight: 600;
	border: 1px solid rgba(204, 204, 204, 0.699);
	padding: 40px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
	text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* ---------------- Main Container  ---------------- */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ---------------- Navigation  ---------------- */

.primary__nav {
    max-width: 430px;
    margin: 0 auto;
    padding: 10px 0px; 
}

.primary__nav a:hover {
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

/* ---------------- Images Styles  ---------------- */



/* ---------------- Boxes Common Styles ---------------- */

.about-box, .social-box, .experience-box, .skills-box, .edu-box, .contact-box  {
    padding: 60px 40px;
}



/* ---------------- Skills Section ---------------- */



.highlight {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.html, .css {
    color: #fff;
    background-color: #000;
    padding: 5px;
}

.js, .py {
    color: #fff;
    background-color: #3554bb;
    padding: 5px;
}

.java {
    color: #fff;
    background-color: #155010;
    padding: 5px;
}

/* ---------------- Education Section ---------------- */



/* ---------------- Expirience Section ---------------- */




/* ---------------- Contact Section ---------------- */

#contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}